<!--<form [formGroup]="form" *ngIf="showFiller1">-->
  <!--<div class="form-group">-->
    <!--<h1>{{"Test "+ (ind+1)}}</h1>-->
    <!--<div class="form-check" *ngFor="let test of testt; let i=index">-->
      <!--<h3>{{"harc "+ (i+1)+" :: " + test.harc}}</h3>-->

      <!--<input type="radio"-->
             <!--class="form-check-input"-->
             <!--name="{{i}}"-->
             <!--value="{{test.pat1}}"-->
             <!--formControlName="{{i}}"-->
             <!--[ngClass]="">-->
      <!--<span>-->
                <!--{{"tarberak 1 : " + test.pat1}}-->
              <!--</span>-->
      <!--<br>-->

      <!--<input type="radio"-->
             <!--class="form-check-input"-->
             <!--name="{{i}}"-->
             <!--value="{{test.pat2}}"-->
             <!--formControlName="{{i}}">-->
      <!--<span>-->
                  <!--{{"tarberak 2 : " + test.pat2}}-->
              <!--</span>-->
      <!--<br>-->
      <!--<input type="radio"-->
             <!--class="form-check-input"-->
             <!--name="{{i}}"-->
             <!--value="{{test.pat3}}"-->
             <!--formControlName="{{i}}"-->
      <!--&gt;-->
      <!--<span>-->
                <!--{{"tarberak 3 : " + test.pat3}}-->
              <!--</span>-->
      <!--<br>-->

      <!--<input type="radio"-->
             <!--class="form-check-input"-->
             <!--name="{{i}}"-->
             <!--value="{{test.pat4}}"-->
             <!--formControlName="{{i}}"-->
      <!--&gt;-->
      <!--<span>-->
                <!--{{"tarberak 4 : " + test.pat4}}-->
              <!--</span>-->
      <!--<br>-->

      <!--<input type="radio"-->
             <!--class="form-check-input"-->
             <!--name="{{i}}"-->
             <!--value="{{test.pat5}}"-->
             <!--formControlName="{{i}}"-->
      <!--&gt;-->
      <!--<span>-->
                <!--{{"tarberak 5 : " + test.pat5}}-->
              <!--</span>-->

      <!--<hr>-->

    <!--</div>-->
    <!--<button mat-raised-button color="accent" (click)="jishtTarberakneriQanak()">CHECK</button>-->

  <!--</div>-->
<!--</form>-->
